<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img src="./../../assets/images/Logo.svg" />
    <div class="spacer"></div>
    <a>
        <img src="./../../assets/images/chat.png" />
    </a>
</div>
<div class="content">
    <div class="title">
        <h2>View all comments and analysis</h2>
        <div class="button-container">
            View report
        </div>
    </div>
</div>
<div class="customer-section-wrapper">
    <div class="comment-section">
        <textarea type="text" placeholder="Comment here"></textarea>
        <button class="comment-btn">Comment</button>
    </div>
</div>